<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../static/css/custom.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <title>UzRel - Вход в личный кабинет</title>

</head>

<body>
<header class="header">
    {% include 'header.html' %}
</header>
<div>
    <h2>Заполните форму</h2>
    <form>
        <div class="form-group">
            <label for="question1">Вопрос 1 (множественный выбор):</label>
            <div class="form-check">
                <input type="radio" class="form-check-input" id="option1" name="question1" value="option1">
                <label class="form-check-label" for="option1">Опция 1</label>
            </div>
            <div class="form-check">
                <input type="radio" class="form-check-input" id="option2" name="question1" value="option2">
                <label class="form-check-label" for="option2">Опция 2</label>
            </div>
        </div>
        <div class="form-group">
            <label for="question2">Вопрос 2 (один вариант выбора):</label>
            <select class="form-control" id="question2">
                <option>Опция 1</option>
                <option>Опция 2</option>
            </select>
        </div>
        <div class="form-group">
            <label for="question3">Вопрос 3 (ввод текста):</label>
            <textarea class="form-control" id="question3" rows="3"></textarea>
        </div>
        <div class="form-group">
            <label for="question4">Вопрос 4 (ввод цифр):</label>
            <input type="number" class="form-control" id="question4">
        </div>
        <button type="submit" class="btn btn-primary">Отправить</button>
    </form>

</div>
<footer class="footer bg-dark">
    {% include 'footer.html' %}
</footer>
</body>
</html>
